* {
    -moz-osx-font-smoothing: grayscale;
}

.site-section {
    padding: 2.5em 0;

    @media (min-width: 768px) {
        padding: 5em 0;
    }
}

// .section-title {}
.cta {
    padding: 9px 25px;
    background-color: rgba(104, 186, 130, 1);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: $transition-all-nav;
    margin-left: 20px;

    &:hover {
        background-color: rgba(104, 186, 130, .8);
        color: white;
    }
}