* {
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: muli, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: muli, sans-serif;
}

.site-section {
    padding: 2.5em 0;

    @media (min-width: 768px) {
        padding: 5em 0;
    }
}

// .section-title {}
.btn {
    text-transform: uppercase;
    font-weight: 500;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
}

.cta {
    padding: 9px 25px;
    background-color: rgba(104, 186, 130, 1);
    color: white;
    border-color: rgba(104, 186, 130, 1);
    border-radius: 50px;
    cursor: pointer;
    transition: $transition-all-nav;
    margin-left: 20px;

    &:hover {
        background-color: rgba(104, 186, 130, .8);
        color: white;
    }
}

.text-black {
    color: rgba($color: #000000, $alpha: .80);
    text-transform: uppercase;
}

.section-title {
    font-weight: 500;
    margin-bottom: 1.8rem;
}

.custom-icon-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.custom-icon-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $primary-color;

    &>svg {
        display: inline-block;
        color: white;
        font-size: 1.2em;
        stroke-width: 3;
    }
}

ul ul {
    list-style-type: disc;
}