.features-list-box {
    box-shadow: $box-shadow-lg;
}

.list-item-text {
    max-width: 75%;

    &>p {
        font-weight: 400;
        font-size: 1.2;
        // line-height: 1;
        // margin-bottom: 15px;
        // margin-top: 15px;
        margin-bottom: 0;

    }
}