.footer-section {
    .footer-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-item {
        white-space: nowrap;

        &:nth-child(1) {
            padding-right: 10px;
        }

        &:nth-child(2) {
            padding-left: 10px;
            padding-right: 10px;
        }

        &:nth-child(3) {
            padding-left: 10px;
        }
    }
}