.slick-slide {

    &>div {
        margin: 0 15px;
    }

    & .card {
        // border-top: 5px solid $primary-color;
    }
}

.slick-arrow {
    display: none;
}

.slider-container {
    display: block;
    overflow: hidden;
}