$mint: #68ba82;
$mint-dark: #064a23;
$theme-colors: ('primary': $mint-dark);



$body-font-family: 'Work Sans',
sans-serif;
$heading-font-family: 'Montserrat',
sans-serif;

$font-family-sans-serif: $body-font-family;
$font-weight-base: 300;
$headings-font-family: $heading-font-family;
$headings-font-weight: 900;